/* ! General style of the website */
html{ overflow-x: hidden; min-height: 100vh;}
body{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3vw;
  background-color: #F6F6F6;
  right: 0;
  top: 0;
  padding: 0;
  overflow: hidden;
}

a{ text-decoration: none; color: #232429; cursor: pointer;}
